@media only screen and (min-width: 1030px) {
.top{
    display:block; justify-content: space-around; margin: 8%;;
}
.proj_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    margin: 8%;
}

.proj{
    margin: 6%;
    
}
#tile:hover {
    opacity: 50%;
    scale: 0.85;
    transition: 0.1s;
    transition-duration: 0.4s;
}
}
@media only screen and (max-width: 1030px) {

    #tile:active {
        opacity: 50%;
        scale: 0.65;
        transition: 0.1s;
        transition-duration: 0.4s;
    }
    .top{
        display:block; justify-content: space-around; margin: 8%;;
    }
    .proj{
        margin-bottom: 6%;
    }
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    div {
        max-width: 100vw;
        max-height: 100vh;
        margin: auto;
        display: block;
      }
}